{% extends "layout.html" %}

{% block page_title %}
  Deliver
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "includes/phase_banner_alpha.html" %}
      {% include "includes/breadcrumb.html" %}
      <h1 class="heading-xlarge">
		      Deliver
	    </h1>

      <p>How to deliver a service using agile delivery phases.</p>


<div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions"><div class="subsection-controls js-subsection-controls"></div>
  <div class="subsection-wrapper">

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Discovery</button></h2>
          <p class="subsection__description">How we'll do a discovery</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by discovery</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The discovery process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Alpha</button></h2>
          <p class="subsection__description">How we'll do an alpha</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by alpha</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The alpha process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Beta private</button></h2>
          <p class="subsection__description">How we'll do a beta private</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by beta private</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The beta private process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Beta public</button></h2>
          <p class="subsection__description">How we'll do a beta public</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by beta public</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The beta public process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Live</button></h2>
          <p class="subsection__description">How we'll do a live</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by live</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The live process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>

  </div>
</div>




    </div>
  </div>
</main>

{% endblock %}
