{% extends "layout.html" %}

{% block page_title %}
  How we understand service design
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="/prototypes/understand/understand">Back</a>

      <!-- Page title and contact -->
      <div class="grid-row">

        <div class="column-two-thirds">
          <div class="page-header">
            <p class="page-header__context">Heading</p>
            <h1 class="page-header__title">
              Introduction: understanding service design
            </h1>
          </div>
        </div>

        <div class="column-third">

          <div class="community-contact">
            <p>
              <a class="feedback" href="/">Give feedback about this page</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Metadata-->
      <div class="grid-row">
        <div class="column-two-thirds">

          <div class="metadata">
            <dl>
                <dt>Published by:</dt>
                  <dd>
                    <a href="/service-manual/communities/agile-delivery-community">Enabling Digital Transformation</a>
                  </dd>
              <dt>Last updated:</dt>
              <dd>
                over 1 week ago
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div class="grid-row" data-module="highlight-active-section-heading">
        <div class="column-third">

          <!--  Page contents -->
          <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
            <h2 class="page-contents__title">Page contents:</h2>
            <ul class="page-contents__list">
                <li><a href="#heading-1">Heading 1</a></li>
                <li><a href="#heading-2">Heading 2</a></li>
                <li><a href="#heading-3">Heading 3</a></li>
                <li><a href="#heading-4">Heading 4</a></li>
                <li><a href="#heading-5">Heading 5</a></li>
            </ul>
          </div>

        </div>

        <div class="column-two-thirds">

          <div class="govspeak-wrapper">

            <div class="govuk-govspeak ">

              <p>Some text</p>

              <p>Some text</p>

              <h2 class=heading-medium id="heading-1">heading 1</h2>

              <p>Some text</p>

              <h2 class="heading-medium" id="heading-2">heading 2</h2>

              <p>Some text</p>

              <h2 class=heading-medium id="heading-3">heading 3</h2>

              <p>Some text</p>

              <h2 class="heading-medium" id="heading-4">heading 4</h2>

              <p>Some text</p>

              <h2 class="heading-medium" id="heading-5">heading 5</h2>

              <p>Some text</p>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
