{% extends "layout.html" %}

{% block page_title %}
 Agile governance
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="/prototypes/understand/understand">Back</a>

      <!-- Page title and contact -->
      <div class="grid-row">

        <div class="column-two-thirds">
          <div class="page-header">
            <p class="page-header__context">Understand</p>
            <h1 class="page-header__title">
              Introduction: understanding agile governance
            </h1>
          </div>
        </div>

        <div class="column-third">

          <div class="community-contact">
            <p>
              <a class="feedback" href="/">Give feedback about this page</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Metadata-->
      <div class="grid-row">
        <div class="column-two-thirds">

          <div class="metadata">
            <dl>
                <dt>Published by:</dt>
                  <dd>
                    <a href="/service-manual/communities/agile-delivery-community">Enabling Digital Transformation</a>
                  </dd>
              <dt>Last updated:</dt>
              <dd>
                over 1 week ago
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div class="grid-row" data-module="highlight-active-section-heading">
        <div class="column-third">

          <!--  Page contents -->
          <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
            <h2 class="page-contents__title">Page contents:</h2>
            <ul class="page-contents__list">
                <li><a href="#heading-1">What we mean by agile governance</a></li>
                <li><a href="#heading-2">The activities and outcomes</a></li>
                <li><a href="#heading-3">What is required</a></li>
                <li><a href="#heading-4">What are the benefits</a></li>
                <li><a href="#heading-5">The agile governance process</a></li>
                <li><a href="#heading-6">Templates and useful links</a></li>
            </ul>
          </div>

        </div>

        <div class="column-two-thirds">

          <div class="govspeak-wrapper">

            <div class="govuk-govspeak ">


              <h2 class=heading-medium id="heading-1">What we mean by agile governance</h2>

              <p>Delivering change is, currently steered from within functional silos which come with functional governance groups.  When a programme of change is initiated it is often hindered and slowed down by the amount of governance groups it has to report into, with no one group having the ultimate control and say.</p>
              <p>Supporting the service approach, the service governance group is made up from a multi-disciplinary (multi-functional ) team but whom report and are guided by the Service Owner (and a Service Executive).  This approach will streamline decision making, put accountability and ownership in the right place and enable the service to deliver with agility and flexibility.</p>

              <h2 class="heading-medium" id="heading-2">The activities and outcomes</h2>

              <h3 class="heading-small">The Service Governance group will:</h3>

              <ul class="list list-bullet">
                <li>Support the delivery of the service vision and roadmap (the outcomes)</li>
                <li>Understand the user needs and the pain points</li>
                <li>Make decisions and clear escalated blockers</li>
                <li>Own and manage the risks</li>
                <li>Own and manage dependencies, for example people, process, policy as well as technology common platforms</li>
                <li>Own the benefits of the service</li>
              </ul>

              <h2 class=heading-medium id="heading-3">What is required</h2>

              <p>A move from functional governance to service governance - where the focus is on how we deliver the outcomes and the user need.</p>
              <p>Adopting a team onion approach to governance will enable the governance group to manage the core team, the collaborators and the supporters</p>

              <h2 class="heading-medium" id="heading-4">What are the benefits</h2>

              <h3 class="heading-small">Less but more targeted governance enables:</h3>

              <ul class="list list-bullet">
                <li>Faster decisions</li>
                <li>Quicker actions</li>
                <li>Earlier benefits realised</li>
              </ul>

              <h2 class="heading-medium" id="heading-5">The agile governance process</h2>

              <p>To be confirmed</p>

              <h2 class="heading-medium" id="heading-5">Templates and useful links</h2>

              <p>To be confirmed</p>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
