{% extends "layout.html" %}

{% block page_title %}
  How we understand service design
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="/prototypes/understand/understand">Back</a>

      <!-- Page title and contact -->
      <div class="grid-row">

        <div class="column-two-thirds">
          <div class="page-header">
            <p class="page-header__context">Understand</p>
            <h1 class="page-header__title">
              Introduction: understanding service design
            </h1>
          </div>
        </div>

        <div class="column-third">

          <div class="community-contact">
            <p>
              <a class="feedback" href="/">Give feedback about this page</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Metadata-->
      <div class="grid-row">
        <div class="column-two-thirds">

          <div class="metadata">
            <dl>
                <dt>Published by:</dt>
                  <dd>
                    <a href="/service-manual/communities/agile-delivery-community">Enabling Digital Transformation</a>
                  </dd>
              <dt>Last updated:</dt>
              <dd>
                over 1 week ago
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div class="grid-row" data-module="highlight-active-section-heading">
        <div class="column-third">

          <!--  Page contents -->
          <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
            <h2 class="page-contents__title">Page contents:</h2>
            <ul class="page-contents__list">
                <li><a href="#heading-1">What we mean by service design</a></li>
                <li><a href="#heading-2">The activities and outcomes</a></li>
                <li><a href="#heading-3">What is required</a></li>
                <li><a href="#heading-4">What are the benefits</a></li>
                <li><a href="#heading-5">The service design process</a></li>
                <li><a href="#heading-5">Templates and useful links</a></li>
            </ul>
          </div>

        </div>

        <div class="column-two-thirds">

          <div class="govspeak-wrapper">

            <div class="govuk-govspeak ">

              <h2 class=heading-medium id="heading-1">What we mean by service design</h2>

              <p>Service design is the strategic design of a service around its users’ needs and business process. Service design means getting an in-depth understanding of a service area and its users, looking at things from an end-to-end perspective and designing it ‘from the bottom up’.
                To a citizen, services are things a Government provides that enables them to complete a selection of tasks so they can achieve their goal. A service must meet its users’ needs in order to deliver on policy intent.
              </p>

              <h2 class="heading-medium" id="heading-2">The activities and outcomes</h2>

              <ul class="list list-bullet">
                <li>Define the problem statement</li>
                <li>Collaborate with Policy colleagues to understand policy outcomes</li>
                <li>Define services around how a user would understand or engage with them</li>
                <li>Define sub-services to understand all tasks a user needs to complete to achieve their goal</li>
                <li>Map all channels, including digital, face-to-face, phone or post in the context of a real user journey</li>
                <li>Identify opportunities for big impact, like call volumes or long duration of transactions</li>
                <li>Develop prototypes that can be tested with users iteratively so solutions are based on evidence not assumptions</li>
                <li>Map capabilities in a service to provide the best solution for users</li>
                <li>Identify common design and service patterns so users get a consistent experience on GOV.UK</li>
                <li>Visualise and design for collaboration and shared understanding</li>
                <li>Simplify and clarify process and language so anyone can understand it</li>
              </ul>

              <h2 class=heading-medium id="heading-3">What is required</h2>

              <p>Co-design facilitation with groups including:</p>

              <ul class="list list-bullet">
                <li>Policy teams</li>
                <li>Strategy and business change teams</li>
                <li>Delivery portfolio teams</li>
                <li>Delivery teams</li>
                <li>Content teams</li>
                <li>Operational staff</li>
              </ul>

              <h2 class="heading-medium" id="heading-4">What are the benefits</h2>

              <ul class="list list-bullet">
                <li>Building services that meet practical and emotive user needs</li>
                <li>Enabling policy outcomes to be delivered through task completion</li>
                <li>Designing services that meet the Government Service Standard</li>
                <li>Reduction of cost and time by simplifying services, so users succeed first time</li>
                <li>End-to-end design of user-facing services, internal processes, supporting policy or legislation and organisational, financial and governance structures</li>
                <li>Creating common patterns which can be simplified, standardised and shared so they can reused or scaled across organisations</li>
              </ul>

              <h2 class="heading-medium" id="heading-5">The service design process</h2>

              <ul class="list list-bullet">
                <li>Apply design thinking and design strategies</li>
                <li>Apply GDS Design principles</li>
                <li>Developing practical service blueprints to show a whole ecosystem</li>
                <li>Stepping back and seeing the big picture in a holistic way</li>
                <li>Collaboration with the cross Government User Centred Design community</li>
              </ul>

              <h2 class="heading-medium" id="heading-6">Templates and useful links</h2>

              <p>To be confirmed</p>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
