{% extends "layout.html" %}

{% block page_title %}
  Digital skills
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="/prototypes/understand/understand">Back</a>

      <!-- Page title and contact -->
      <div class="grid-row">

        <div class="column-two-thirds">
          <div class="page-header">
            <p class="page-header__context">Understand</p>
            <h1 class="page-header__title">
              Introduction: understanding digital skills
            </h1>
          </div>
        </div>

        <div class="column-third">

          <div class="community-contact">
            <p>
              <a class="feedback" href="/">Give feedback about this page</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Metadata-->
      <div class="grid-row">
        <div class="column-two-thirds">

          <div class="metadata">
            <dl>
                <dt>Published by:</dt>
                  <dd>
                    <a href="/service-manual/communities/agile-delivery-community">Enabling Digital Transformation</a>
                  </dd>
              <dt>Last updated:</dt>
              <dd>
                over 1 week ago
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div class="grid-row" data-module="highlight-active-section-heading">
        <div class="column-third">

          <!--  Page contents -->
          <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
            <h2 class="page-contents__title">Page contents:</h2>
            <ul class="page-contents__list">
                <li><a href="#heading-1">What we mean by digital skills</a></li>
                <li><a href="#heading-2">The activities and outcomes</a></li>
                <li><a href="#heading-3">What is required</a></li>
                <li><a href="#heading-4">What are the benefits</a></li>
                <li><a href="#heading-5">The digital skills process</a></li>
                <li><a href="#heading-6">Templates and useful links</a></li>
            </ul>
          </div>

        </div>

        <div class="column-two-thirds">

          <div class="govspeak-wrapper">

            <div class="govuk-govspeak ">

              <h2 class=heading-medium id="heading-1">What we mean by digital skills</h2>

              <p>The digital, data and <a href="https://www.gov.uk/government/collections/digital-data-and-technology-job-roles-in-government">technology professions</a> job roles and descriptions can be found on GOV.UK.</p>

              <h2 class="heading-medium" id="heading-2">The activities and outcomes</h2>

              <p>The team will create the best work when they:</p>

              <ul class="list list-bullet">
                <li>Are stable, members are committed to the team for a sustained period and have regular patterns of engagement</li>
                <li>Have built trust with each other and find way to retain this trust</li>
                <li>Are empowered to make decisions about the work that it does day to day</li>
                <li>Have an alignment to a clear vision and goals</li>
                <li>Communicate daily and where possible are co-located</li>
                <li>Are non hierarchical, every team member has an important role to play and leadership comes from multiple places within the team</li>
              </ul>

              <h2 class=heading-medium id="heading-3">What is required</h2>

              <p>A multidisciplinary team should have all the roles it needs to design, build and operate a service. They are able to deliver at pace and shouldn’t be blocked from delivering by missing skills or by having too many external dependencies on other teams.</p>
              <p>Ideally people should only be a member of one agile team at a time, and should fulfil one role within the team. Where this isn’t possible careful consideration should be given to how best to share expertise across teams, and Product Owners and Delivery Managers should be consulted before any decision is made.</p>

              <h2 class="heading-medium" id="heading-4">What are the benefits</h2>

              <p>To be confirmed</p>

              <h2 class="heading-medium" id="heading-5">The digital skills process</h2>

              <p>To be confirmed</p>

              <h2 class="heading-medium" id="heading-6">Templates and useful links</h2>

              <p>To be confirmed</p>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
