{% extends "layout.html" %}

{% block page_title %}
  How we understand policy
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="/prototypes/understand/understand">Back</a>

      <!-- Page title and contact -->
      <div class="grid-row">

        <div class="column-two-thirds">
          <div class="page-header">
            <p class="page-header__context">Understand</p>
            <h1 class="page-header__title">
              Introduction: understanding policy
            </h1>
          </div>
        </div>

        <div class="column-third">

          <div class="community-contact">
            <p>
              <a class="feedback" href="/">Give feedback about this page</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Metadata-->
      <div class="grid-row">
        <div class="column-two-thirds">

          <div class="metadata">
            <dl>
                <dt>Published by:</dt>
                  <dd>
                    <a href="/service-manual/communities/agile-delivery-community">Enabling Digital Transformation</a>
                  </dd>
              <dt>Last updated:</dt>
              <dd>
                over 1 week ago
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div class="grid-row" data-module="highlight-active-section-heading">
        <div class="column-third">

          <!--  Page contents -->
          <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
            <h2 class="page-contents__title">Page contents:</h2>
            <ul class="page-contents__list">
                <li><a href="#heading-1">What we mean by policy</a></li>
                <li><a href="#heading-2">The activities and outcomes</a></li>
                <li><a href="#heading-3">What is required</a></li>
                <li><a href="#heading-4">What are the benefits</a></li>
                <li><a href="#heading-5">The policy process</a></li>
                <li><a href="#heading-6">Templates and useful links</a></li>
            </ul>
          </div>

        </div>

        <div class="column-two-thirds">

          <div class="govspeak-wrapper">

            <div class="govuk-govspeak ">

              <h2 class=heading-medium id="heading-1">What we mean by policy</h2>

              <p>Policy can be:</p>

              <ul class="list list-bullet">
                <li>Guidelines</li>
                <li>Rules</li>
                <li>Regulations</li>
                <li>Principles</li>
                <li>Directions</li>
              </ul>

              <p>But, basically policy is a guide to action, it:</p>

              <ul class="list list-bullet">
                <li>Outlines rules</li>
                <li>Provide principles that guide actions</li>
                <li>Sets roles and responsibilities</li>
                <li>Reflect values and beliefs</li>
                <li>States an intention to do something</li>
                <li>Support organisational outcomes</li>
              </ul>

              <p>Historically, we have looked at policy in isolation from our operational delivery and not considered the impacts the policies have on our end users.</p>
              <p>By failing to join the constituent parts together, we often fall into the trap of setting up new teams, creating new processes and creating new IT systems to satisfy a new policy, which in turn, confuses the end users and increases the internal running costs for us.</p>
              <p>By looking at policy through the lens of the end user and through a services wrapper, you can start to understand how the constituent parts do fit together and where the real pain points are for us and for the end user.
              </p>

              <h2 class="heading-medium" id="heading-2">The activities and outcomes</h2>

              <p>The overall outcome is to bring policy and delivery together. As part of the service team, there are a number of questions that policy can apply:</p>

              <p>Policy Framework checklist, Policy Working Group January 2017</p>

              <ul class="list list-number">
                <li>How does your Policy contribute to (Defra Strategy / Single Departmental Plan) these aims and strategic objectives, without negatively impacting others?  How will you know?</li>
                <li>What are the drivers in this area that you need to consider? What will be different as a result?  How will you know?</li>
                <li>Have you considered the assumptions underlying your policy options? Are you following a previous direction without investigating new approaches? Incentives v’s regulation, payment principles, what is your approach to managing risk, are assumptions consistently applied across policy areas?</li>
                <li>How does the policy support implementation of the Target Operating Model? [Act together, Make it simpler, Avoid duplication, Maximise impact, Embrace digital and data] could your option be simplified? Could you use technology?</li>
                <li>Who have you talked to? Have you discussed the problem as well as possible solutions?</li>
                <li>Are you using Open Policy Making? Are you drawing on academic thinking? Have you considered behavioural insights, What Works? Segregation analysis, Horizon scanning and Futures?</li>
                <li>Have you discussed with Defra Economists, Social Researchers, Scientists, Statisticians and Operational Reseachers?</li>
                <li>Is there existing evidence including previous Defra funded work, for example Defra science search.</li>
                <li>Have you consulted Better Regulation team?</li>
                <li>Have you consulted the other specialist areas that are part of delivering the policy, for example DDTS, Human Resources, Communications, Legal etc?</li>
                <li>Who in Defra Group will be delivering this approach and what do they think?</li>
                <li>Have you consulted users, stakeholders, beneficiaries, executors etc?</li>
                <li>Do you understand the cost (financial or time) and value for money of your options? Do you know how different groups could be impacted? What are your best tools to generate options? Consult with the Policy Hub for tools.</li>

              </ul>

              <h2 class=heading-medium id="heading-3">What is required</h2>

              <p>An openness and willingness to work across functional silos to understand the real problems and work together to iterate and improve the service and associated policies.</p>

              <h2 class="heading-medium" id="heading-4">What are the benefits</h2>

              <h3 class=heading-small>Reduced costs</h3>

              <p>By looking at policy and delivery together we will be able to identify and stop doing the things that are not supporting an outcome or are not delivering any value to us or our users.</p>

              <h3 class=heading-small>Joined up services</h3>

              <p>Understanding how our policies support our outcomes and the internal staff needs will enable us to rationalise our back office processes and systems. Making it easier for the user - understanding how our policies support our outcomes and the user needs, will enable us to streamline and improve the services we provide.
              </p>

              <h3 class=heading-small>Reputation</h3>

              <p>Showcasing the results of bringing policy and delivery will have a positive effect on users and across other government departments.</p>

              <h2 class="heading-medium" id="heading-5">The policy process</h2>

              <p>To be confirmed</p>

              <h2 class="heading-medium" id="heading-6">Templates and useful links</h2>

              <p>To be confirmed</p>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
