{% extends "layout.html" %}

{% block page_title %}
  Digital delivery lifecycle
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
		      Digital delivery lifecycle
	    </h1>

      <p>The structure of the delivery lifecycle has been set out in order of events. Starting at policy to understand the intent and outcomes the service aims to deliver, through to retiring a service because policy intent is not being met.</p>




<div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions"><div class="subsection-controls js-subsection-controls"></div>
  <div class="subsection-wrapper">
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="designing-government-services"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Policy</button></h2>
          <p class="subsection__description">How we'll know we're doing the right thing</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
          <ul class="subsection__list">
              <li class="subsection__list-item">
                <a href="http://www.link-goes-here.com">What we mean by policy</a>
              </li>
              <li class="subsection__list-item">
                <a href="http://www.link-goes-here.com">The activities and outcomes</a>
              </li>
              <li class="subsection__list-item">
                <a href="http://www.link-goes-here.com">What is required</a>
              </li>
              <li class="subsection__list-item">
                <a href="http://www.link-goes-here.com">What are the benefits</a>
              </li>
              <li class="subsection__list-item">
                <a href="http://www.link-goes-here.com">The policy process</a>
              </li>
              <li class="subsection__list-item">
                <a href="http://www.link-goes-here.com">Templates and useful links</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Prioritisation</button></h2>
          <p class="subsection__description">How we'll priortise the thing</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by prioritisation</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The prioritisation process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">User centred design</button></h2>
          <p class="subsection__description">How the thing will meet user needs</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by user centred design</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The user centred design process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Technical architecture</button></h2>
          <p class="subsection__description">How the thing will work with our infrastructure</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by technical architecture</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The technical architecture process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Procurement</button></h2>
          <p class="subsection__description">How we'll decide who builds the thing</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by procurement</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The procurement process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Digital skills</button></h2>
          <p class="subsection__description">What people we'll need to deliver the thing</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by digital skills</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The digital skills process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Governance for discovery</button></h2>
          <p class="subsection__description">How we'll pay for discovery</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by governance for discovery</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The discovery funding approval process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Discovery</button></h2>
          <p class="subsection__description">How we'll do a discovery</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by discovery</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The discovery process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Governance for alpha</button></h2>
          <p class="subsection__description">How we'll pay for alpha</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by governance for alpha</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The alpha funding approval process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Alpha</button></h2>
          <p class="subsection__description">How we'll do an alpha</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by alpha</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The alpha process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Governance for beta</button></h2>
          <p class="subsection__description">How we'll pay for beta</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by governance for beta</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The beta funding approval process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Beta private</button></h2>
          <p class="subsection__description">How we'll do a beta private</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by beta private</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The beta private process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Governance for beta public</button></h2>
          <p class="subsection__description">How we'll pay for beta public</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by governance for beta public</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The beta public funding approval process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Beta public</button></h2>
          <p class="subsection__description">How we'll do a beta public</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by beta public</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The beta public process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Service transition</button></h2>
          <p class="subsection__description">How we'll do service transition</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by service transition</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The service transition process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Governance for live</button></h2>
          <p class="subsection__description">How we'll pay for live</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by governance for live</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The live funding approval process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Live</button></h2>
          <p class="subsection__description">How we'll do a live</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by live</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The live process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Business activities</button></h2>
          <p class="subsection__description">How we'll know the thing delivers policy intent</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by business activites</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Business activites and processes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Governance for retiring</button></h2>
          <p class="subsection__description">How we'll pay for retiring the thing</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by governance for retire</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The governance for retiring process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="subsection js-subsection">
        <div class="subsection__header">
          <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Retire</button></h2>
          <p class="subsection__description">How we'll retire a service</p>
        <span class="subsection__icon"></span></div>
        <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
          <ul class="subsection__list">
            <ul class="subsection__list">
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What we mean by retire</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The activities and outcomes</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What is required</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">What are the benefits</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">The retire process</a>
                </li>
                <li class="subsection__list-item">
                  <a href="http://www.link-goes-here.com">Templates and useful links</a>
                </li>
            </ul>
          </ul>
        </div>
      </div>



  </div>
</div>




    </div>
  </div>
</main>

{% endblock %}
