{% extends "layout.html" %}

{% block page_title %}
  Discovery
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-full">

      <a class="link-back" href="prototypes/discovery/discovery">Back</a>

      <!-- Page title and contact -->
      <div class="grid-row">

        <div class="column-two-thirds">
          <div class="page-header">
            <p class="page-header__context">Deliver</p>
            <h1 class="page-header__title">
              Discovery guidance
            </h1>
          </div>
        </div>

        <div class="column-third">

          <div class="community-contact">
            <p>
              <a class="feedback" href="/">Give feedback about this page</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Metadata-->
      <div class="grid-row">
        <div class="column-two-thirds">

          <div class="metadata">
            <dl>
                <dt>Published by:</dt>
                  <dd>
                    <a href="/service-manual/communities/agile-delivery-community">Enabling Digital Transformation</a>
                  </dd>
              <dt>Last updated:</dt>
              <dd>
                over 1 week ago
              </dd>
            </dl>
          </div>

        </div>
      </div>

      <div class="grid-row" data-module="highlight-active-section-heading">
        <div class="column-third">

          <!--  Page contents -->
          <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize">
            <h2 class="page-contents__title">Page contents:</h2>
            <ul class="page-contents__list">
                <li><a href="#heading-1">What we mean by discovery</a></li>
                <li><a href="#heading-2">What is required</a></li>
                <li><a href="#heading-3">What are the benefits</a></li>
                <li><a href="#heading-4">The activities and outcomes</a></li>
                <li><a href="#heading-5">Templates and useful links</a></li>
            </ul>
          </div>

        </div>

        <div class="column-two-thirds">

          <div class="govspeak-wrapper">

            <div class="govuk-govspeak ">


              <h2 class=heading-medium id="heading-1">What we mean by discovery</h2>

              <p>Discovery is a phase of work that helps a team to understand and articulate a set of needs, and then propose a way of meeting them.</p>
              <p>It allows the team to ask questions like “Who is this for? Why? What do they want to achieve?” ... before they start to identify potential solutions.</p>
              <p>It’s a useful process to go through before diving into any kind of delivery. It reduces the risk that you’ll try to deliver the wrong thing, and increases the likelihood that what you do deliver will work for its users, and bring about the outcomes you intended.</p>

              <p>In the context of Defra, discovery is useful when thinking about:</p>

              <ul class="list list-bullet">
                <li>Needs that might result in a new or improved citizen-facing service</li>
                <li>Needs that might result in a new or improved internal service or platform</li>
                <li>Needs that might result in non-technical solutions, for example, when exploring how you might do recruitment differently</li>
              </ul>

              <p>Discovery is just as valuable if you are likely to commission or buy a service as it is if you expect to build a solution internally.</p>


              <h2 class="heading-medium" id="heading-2">What is required</h2>

              <p>In order to succeed, a discovery team ideally needs:</p>

              <ul class="list list-bullet">
                <li>To be able to sit together, in a dedicated space</li>
                <li>Lots of wall space for thinking-out-loud</li>
                <li>Access to collaboration tools e.g. shared documents, a backlog tool like Trello or Jira</li>
                <li>Regular contact with the service owner</li>
                <li>Daily contact with the product owner</li>
                <li>Contact with users (internal and external)</li>
                <li>The freedom to ask questions and challenge assumptions</li>
              </ul>

              <p>Before you can start discovery, you need to make sure the right people and skills are available. Asking for these people is likely to be a key part of your business case or funding request.</p>

              <p>The exact makeup of the team will depend partly on:</p>

              <ul class="list list-bullet">
                <li>The scale of the service area you are looking at</li>
                <li>The technologies involved (currently, and potentially in the future)</li>
                <li>Whether there is recent or current work being done on similar services, where expertise can be shared</li>
              </ul>

              <p>However, in every case you will certainly need:</p>

              <ul class="list list-bullet">
                <li>A senior accountable decision maker (the service owner)</li>
                <li>Someone to steer and shape the activities and outputs</li>
                <li>Someone to keep things moving and on track</li>
                <li>User research expertise</li>
                <li>Service design expertise</li>
                <li>Technical expertise appropriate to your service (someone who can understand the current set up, and also someone who understands the wider tech strategy and future direction)</li>
                <li>Subject matter expertise, for example, people who understand the policies and the current processes</li>
              </ul>

              <p>All of these skills will be needed - what may vary from service to service is who provides this expertise and whether they are full time, or working across more than one service.</p>
              <p>If people are working across services, for example, potentially a service designer or architect, the team will need to coordinate with the other teams to make this workable. For example, they will need to make sure that their daily stand-ups and planning meetings don’t clash.</p>

              <h2 class=heading-medium id="heading-3">What are the benefits</h2>

              <p>Done well, a discovery process allows a team (and the organisation they sit in) to:</p>

              <ul class="list list-bullet">
                <li>Really understand the problems to be solved and the needs to be met (this includes understanding policy intent)</li>
                <li>Identify opportunities to meet those needs, potentially in new and transformative ways</li>
                <li>If appropriate, propose an approach to incrementally deliver and test these opportunities </li>
              </ul>

              <p>By involving a mix of subject matter experts and technical specialists, the discovery process helps to ensure that any solutions proposed are feasible and grounded in reality.</p>

              <p>It also enables the people who might go on to build or run the service to be involved with shaping it, and should produce a roadmap that they are happy to support and deliver.</p>

              <h2 class="heading-medium" id="heading-4">The activities and outcomes</h2>

              <p>There isn’t a one-size-fits all approach to doing discovery, but there are certain principles and activities that are likely to benefit most teams.</p>
              <p>This guide lays out one approach, developed by Defra. There is also an emerging cross-government Community of Interest who intend to develop and share best practice for doing discovery.
</p>

              <h2 class="heading-medium" id="heading-5">Templates and useful links</h2>

              <p>To be confirmed</p>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
