{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "includes/phase_banner_alpha.html" %}

      <h1 class="heading-xlarge">
        Defra Digital Delivery Guidance
      </h1>

      <h2 class="heading-medium">About this prototype</h2>

      <p>The purpose of this prototype is provide Defra with guidance on how to deliver digital services. This will be done by bringing together existing digital delivery processes and governance into a single place to create a digital delivery lifecycle.</p>
      <p>The prototype will be iterated and improved through collaboration, evidence and insight from user research and usability testing.</p>
      <p>The prototype is NOT a replacement of the GDS <a href="https://www.gov.uk/service-manual">Service Design Manual</a> and will link to existing information as much as possible.

      <h2 class="heading-medium">Prototypes</h2>

      <ul class="list list-bullet">
        <li><a href="/prototypes/digital-delivery-lifecycle">Digital Delivery Lifecycle - Iteration 1</a></li>
      </ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service Design Manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
